.profile {
  background-color: white;
  padding: 2rem;
  &__title {
    margin: 0;
  }
  &__img {
    display: block;
    width: 100px;
    height: 100px;
  }
  &__link {
    color: black;
    &:hover,
    &:focus {
      background-color: #fed833;
      text-decoration: none;
    }
  }
}
